* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-image:url('gambar/han.png');
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    background-size: cover;
    padding: 70px;
    text-align: center;
    
  }
  .workingspace {
	text-align: center;
}
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  
  .info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -2px;
	background-color: white;
    margin-bottom: 2px;
	padding: 30px;
}

.info-panel img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p{
	font-size: 14px;
	color: orangered;
	margin-top: -5px;
	font-weight: 200;
}

  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    width: 100%;
  }
  ul{
    height: 65%;
    padding: 2px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
ul a{
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
ul a:hover{
    font-weight: bold;
}
ul li{
    display: inline;
    margin-right: 20px;
}
li{
    
}
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  /* Style the footer */
  .footer {
    background-color: #999d97;
    padding: 10px;
    text-align: center;
  }